@import "glitch.css" layer(demo);
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap');

@font-face {
  font-family: 'IBM Plex Mono';
  font-weight: normal;
  font-style: normal;
}

@layer demo.support {
  h1 {
    font-family: 'IBM Plex Mono';
    font-synthesis: none;
    font-size: 13vw;
    letter-spacing: -.1em;
    color: deeppink;
    font-weight: 700;
    text-align: left;
  }

  @media (prefers-color-scheme: dark) {
    html {
      --surface-1: #141414;
    }
  }

  body {
    display: grid;
    place-content: center;
    place-items: center;
    gap: .5rem;
  }

  pre {
    max-inline-size: 80vw;
    overflow-x: auto;
    background: #efefef;
    padding: 1rem;
    border-radius: .5em;
  }
}

button {
  padding: .7rem 2rem;
}

[contenteditable]:active,
[contenteditable]:focus{
  border: none;
  outline: none;
  text-align: right;
}
